<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="author" content="bmy, 2271608011@qq.com"/>
  <meta name="apple-mobile-web-app-title" content="聚志愿"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="#1b78fa"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="screen-orientation" content="portrait" />
  <meta name="x5-orientation" content="portrait" />
  <meta name="full-screen" content="yes" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="browsermode" content="application"/>
  <meta name="x5-page-mode" content="app"/>
  <meta http-equiv="windows-Target" content="_top" />
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // 设置 rpx 基准值
      if (document.documentElement.clientWidth > 1024) {
        document.documentElement.style.fontSize = '20.7px'
      } else {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
      }
    });
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <!--#ifdef H5 -->
  <script src="https://ip.ws.126.net/ipquery"></script>
  <!--#endif-->
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="<%= BASE_URL %>static/pc.css" />
  <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
</head>
<body>
<noscript>
  <strong>Please enable JavaScript to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>